@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
.carousel {
  width: 100vw; /* 100% del ancho del viewport */
  margin: 0px;
  padding: 0%;
  font-size: 50px;
}
.carousel .carousel-item {
  width: 100%;
}
.carousel .carousel-item img {
  width: auto;
  height: 100vh; /* 100% de la altura del viewport */
  /*object-fit: cover;   /* Hace que la imagen se ajuste sin deformarse */
}
.carousel .letranegra {
  color: black !important; /* Garantiza que el texto sea negro */
}

html {
  font-family: "Commissioner", sans-serif;
  background-color: #FFF2DB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #FFAB5B;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 120px;
  margin-left: 3%;
}
header nav {
  width: 50%;
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
header nav ul a {
  color: #00879E;
  text-decoration: none;
  font-size: 20px;
}

footer {
  background-color: #FFAB5B;
  color: black;
  font-weight: bolder;
}
footer .icon {
  width: 2rem;
}

.botonwhats {
  width: 100px;
  position: fixed;
  bottom: 70px;
  right: 20px;
}

.grid {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "nosotros historia1 historia1" "historia2 hijo historia3" "tienda tienda tienda";
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-rows: 70px 300px 300px 700px;
  justify-content: center;
  margin: 3%;
  justify-items: center;
  align-items: center;
}
.grid .titulo {
  grid-area: titulo;
}
.grid .historia1 {
  grid-area: historia1;
}
.grid .historia2 {
  grid-area: historia2;
}
.grid .historia3 {
  grid-area: historia3;
}
.grid .nosotros {
  grid-area: nosotros;
}
.grid .hijo {
  grid-area: hijo;
}
.grid .local {
  grid-area: tienda;
}
.grid h1 {
  color: #FFAB5B;
}
.grid p {
  font-size: 25px;
  text-align: justify;
  margin: 2%;
  color: #FFAB5B;
}
.grid img {
  width: 100%;
  height: 90%;
  border-radius: 5%;
  box-shadow: 10px 11px 1px -2px rgba(0, 0, 0, 0.54);
}

.formulario {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; /* Centrar en pantalla */
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.formulario label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}
.formulario input, .formulario text {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 20px;
}
.formulario button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.tienda p {
  color: #FFAB5B;
  font-size: 25px;
}
.tienda iframe {
  height: 1000px;
  width: 1500px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 40px;
}
.galeria img {
  width: 350px;
  height: auto;
  border-radius: 10px;
}
.galeria img:hover {
  transform: scale(1.5);
}

.sublimado {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.sublimado .textoarriba {
  position: relative;
  width: 1000px;
  overflow: hidden;
}
.sublimado .textoarriba h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.sublimado .textoarriba img {
  width: 100vw;
  height: auto;
  display: block;
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
  }
  header img {
    width: 70px;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    margin: 0px;
  }
  header nav ul a {
    font-size: 13px;
  }
  .grid {
    grid-template-areas: "titulo" "historia1" "nosotros" "historia2" "hijo" "historia3";
    grid-template-columns: 1.5fr;
    grid-template-rows: 40px 130px 150px 120px 150px 80px;
  }
  .grid .local {
    display: none;
  }
  .grid p {
    font-size: 12px;
    margin: 1px;
  }
  .grid img {
    width: 100%;
    height: 100%;
    box-shadow: 7px 8px 1px -2px rgba(0, 0, 0, 0.54);
  }
  .galeria {
    justify-content: flex-start;
  }
  .galeria img {
    width: auto;
    height: 142px;
  }
  .carousel {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 50px;
  }
  .carousel .carousel-item img {
    width: 100%;
    height: 100%;
  }
  .tienda iframe {
    height: 300px;
    width: 400px;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  header {
    flex-direction: column;
  }
  header img {
    width: 70px;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    margin: 0px;
  }
  header nav ul a {
    font-size: 13px;
  }
  .grid {
    grid-template-areas: "titulo" "historia1" "nosotros" "historia2" "hijo" "historia3";
    grid-template-columns: 1.5fr;
    grid-template-rows: 40px 130px 150px 120px 150px 80px;
  }
  .grid .local {
    display: none;
  }
  .grid p {
    font-size: 12px;
    margin: 1px;
  }
  .grid img {
    width: 100%;
    height: 100%;
    box-shadow: 7px 8px 1px -2px rgba(0, 0, 0, 0.54);
  }
  .galeria {
    justify-content: flex-start;
  }
  .galeria img {
    width: auto;
    height: 142px;
  }
  .tienda iframe {
    height: 300px;
    width: 400px;
  }
}

/*# sourceMappingURL=estilo.css.map */
