.formulario {
    width: 100%;
    max-width: 400px;
    margin: 0 auto; /* Centrar en pantalla */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    label {
    display: block;
    margin-top: 15px;
    font-weight: bold;}

    input, text {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;}
    
    button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size:18px;
    border: none;
    border-radius: 5px;}

  }


.tienda {
  p{color: #FFAB5B;
  font-size: 25px;}
  
  iframe{height: 1000px;
  width:1500px;}

}