@use"../subcarpetas/v";


*{margin: 0;
padding: 0;
box-sizing: border-box}

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

html{font-family:"Commissioner", sans-serif;
background-color:#FFF2DB ;}



header {background-color: v.$amarillo;
    display: flex;
    flex-direction: row;
    position: sticky; 
    top: 0px; 
    justify-content: space-between;
    align-items: center;
    img{width: 100px;
        margin-left: 3%;}

    nav{ width: 40%;
        ul{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 3%;
        
            a{color: v.$celeste;
                text-decoration: none;
                font-size: 20px;
                }}
    
    }
}





footer{ background-color:#FFAB5B;
color: black;
font-weight: bolder;

    .icon{width: 2rem;}}

.botonwhats{width: 100px;
position: fixed;
bottom: 70px;
right: 20px;}
