
.carousel{
    width: 99,5vw;   /* 100% del ancho del viewport */
    margin: 0px;
    padding: 0%;
    font-size: 60px;

    .carousel-item{
        width: 100%;
        img {
            width: auto;
            height: 100vh;       /* 100% de la altura del viewport */
            /*object-fit: cover;   /* Hace que la imagen se ajuste sin deformarse */
        }
        
      }
    .letranegra {
            color:black !important; /* Garantiza que el texto sea negro */}

    }