@media(max-width: 480px){
  header {
    flex-direction: column;

    img {
      width: 50px;
    }

    nav {width:100%;  
        margin: 0%;
    
       ul {margin: 0px;
    
        a{font-size:10px}
    }}

   
  }

  // Nosotros
  .grid {
    grid-template-areas:
      "titulo"
      "historia1"
      "nosotros"
      "historia2"
      "hijo"
      "historia3";
    grid-template-columns: 2fr;
    grid-template-rows: 50px 335px 300px 300px 180px 150px;

      .local {
      display: none;
      }
      
      h1{font-size: 30px;}
      p {font-size: 18px;
        margin: 1px;}
      

      img{
        width: 100%;
        height: 100%;
        box-shadow: 7px 8px 1px -2px rgba(0,0,0,0.54);}

  }

  // Productos
  .galeria {
    justify-content: flex-start;

    img {
      width: auto;
      height: 100px;
    }
  }


//INICIO
.carousel {width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 50px;
  .carousel-item {
        img {
            width: 100%;
            height: 600px;
          } }
    }
  

  //contacto 
  .tienda{
    p{font-size: 18px;
    margin: 15px;}
    iframe{height: 300px;
  width: 400px;}}


  //servicios
      .sublimado{
        .textoarriba{
          h1{font-size: 30px;}}
        
      }

   
}








@media (min-width:481px) and (max-width: 769px){

 header {display: flex;
    flex-direction: column;

    img {
      width: 67px;
    }

    nav {width:100%;
        margin-right:0px;

       ul {margin: 8px;
    
        a{font-size: 15px}
    }}

   
  }

  // Nosotros
  .grid {
    grid-template-areas:
      "titulo"
      "historia1"
      "nosotros"
      "historia2"
      "hijo"
      "historia3"
      "tienda";

    grid-template-columns: 1.5fr;
    grid-template-rows: 40px 170px 165px 150px 150px 100px 300px;
    
    p {font-size: 15px;
    margin: 0.5spx;}

    img{
    width: 100%;
    height: 100%;
    box-shadow: 7px 8px 1px -2px rgba(0,0,0,0.54);}

  }

  // Productos
  .galeria {
    justify-content: flex-start;

    img {
      width: auto;
      height: 190px;
    }
  }

  //contacto 
  .tienda{
    iframe{height: 300px;
  width: 400px;}}



}