.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 40px;

    img {width: 600px;
    height: auto;
    border-radius: 20%;}

    img:hover {
    transform: scale(1.20);}
}