.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 40px;

    img {width: 350px;
    height: auto;
    border-radius: 10px;}

    img:hover {
    transform: scale(1.50);}
}