.sublimado{display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
    
    .textoarriba {position: relative;
    width: 1000px;
    overflow: hidden;

        h1 {position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);}
    
        img{width: 100vw;
        height: auto;
        display: block;}}

}